body , html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}  

header {
  height: 55px;
  border-bottom: 1px solid #000;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;

  .header-left, .header-right {
    @include border-default;
    @include flex;
    width: 15%;
    height: 100%;
  }

  .header-logo{
    width: 70%;
    height: 100%;
    @include flex;

    img {
      background-image: url('../img/mobile/topo/Logo Neon.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-attachment: cover;
    }
  }
}

main {
  // height: calc(100% - 255px);
  height: auto;
  
  .container {
    position: relative;
  }

  .container-img {
    height: 250px;
    width: 100%;
    background-image: url('../img/foto.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: cover;
    background-size: cover;
    position: relative;  
    margin-top: -50px;
    z-index: -1;
    border-radius: 50% / 10%;
    border-bottom: 2px solid #000;
    filter: grayscale(.5);
    position: relative;
    @include flex; 

  }

  .container-text {
    position: absolute;
    top: 50px;
    h3 {
      margin: 0;
    }
    z-index: 1;
    .first-title {
      color: #fff;
      text-align: center;
      font-weight: 100;
    }
  }

  .container-carrosel {
    margin: 1em .5em;
    height: auto;
    // padding: 1em;
    display: flex;
    justify-content: space-around;

    .left-side, .right-side {
      width: 20%;
      @include flex;

      figure {
        margin: 0;
        padding: .5em;
        border: 1px solid black;
        border-radius: 100%;
        height: auto;
        width: 30px;
        @include flex;
      }
    }

    .carrosel-box {
      border: 1px solid black;
      border-radius: 12px;
      padding: .5em;
      width: 60%;
      @include flex;
      flex-direction: column;

      .carrosel-img {
        figure {
          margin: 0;
        }
        @include flex;
        width: 100%;
      }

      .carrosel-text {
        text-align: center;
        color: #626264;
      }

      .saiba-mais {
        border: 1px solid black;
        border-radius: 10px;
        background-image: linear-gradient(to right,#1276AF,#00e3c0);
        font-weight: bold;
        color: #fff;
        height: 30px;
        width: 100px;
      }

    }
  }
}

footer  {
  border-top: 1px solid #000;
  height: 155px;
  background-color: #1276af;
  padding: 0 1.5em 0 1.5em;
  @include flex;
  flex-direction: column;

  .atendimento, .icons, address {
    width: 260px;
    @include flex;
    justify-content: space-around;
  }

  .atendimento {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  address {
   color : #fff;
   flex-direction: column;
 }
}

.right-side {
  figure {
    background: #00a6dd;
    // border-color: #1276AF;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,166,221,1 );
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,166,221,1);
    box-shadow: 0px 0px 12px 0px rgba(0,166,221,1);
  }
}

.left-side {
  figure {
    background: #1276AF;
    border-color: #1276AF;
  }
}