body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif; }

header {
  height: 55px;
  border-bottom: 1px solid #000;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff; }
  header .header-left, header .header-right {
    border: 1px solid #cecece;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 100%; }
  header .header-logo {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    header .header-logo img {
      background-image: url("../img/mobile/topo/Logo Neon.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-attachment: cover; }

main {
  height: auto; }
  main .container {
    position: relative; }
  main .container-img {
    height: 250px;
    width: 100%;
    background-image: url("../img/foto.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: cover;
    background-size: cover;
    position: relative;
    margin-top: -50px;
    z-index: -1;
    border-radius: 50% / 10%;
    border-bottom: 2px solid #000;
    filter: grayscale(0.5);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; }
  main .container-text {
    position: absolute;
    top: 50px;
    z-index: 1; }
    main .container-text h3 {
      margin: 0; }
    main .container-text .first-title {
      color: #fff;
      text-align: center;
      font-weight: 100; }
  main .container-carrosel {
    margin: 1em .5em;
    height: auto;
    display: flex;
    justify-content: space-around; }
    main .container-carrosel .left-side, main .container-carrosel .right-side {
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center; }
      main .container-carrosel .left-side figure, main .container-carrosel .right-side figure {
        margin: 0;
        padding: .5em;
        border: 1px solid black;
        border-radius: 100%;
        height: auto;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center; }
    main .container-carrosel .carrosel-box {
      border-radius: 12px;
      padding: .5em;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      -webkit-box-shadow: -2px 10px 50px 0px #e1e2e3;
      -moz-box-shadow: -2px 10px 50px 0px #e1e2e3;
      box-shadow: -2px 10px 50px 0px #e1e2e3; }
      main .container-carrosel .carrosel-box .carrosel-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; }
        main .container-carrosel .carrosel-box .carrosel-img figure {
          margin: 0; }
          main .container-carrosel .carrosel-box .carrosel-img figure img {
            height: 90px; }
      main .container-carrosel .carrosel-box .carrosel-text {
        text-align: center;
        color: #626264; }
        main .container-carrosel .carrosel-box .carrosel-text p {
          margin: 0;
          font-size: 14px; }
      main .container-carrosel .carrosel-box .saiba-mais {
        border-radius: 30px;
        background-image: linear-gradient(to right, #1276AF, #00e3c0);
        font-weight: bold;
        color: #fff;
        height: 30px;
        width: 100px;
        border: none; }

footer {
  border-top: 1px solid #000;
  background-color: #1276af;
  padding: 0 1.5em 0 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  footer .atendimento, footer .icons, footer address {
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around; }
  footer .atendimento {
    display: flex;
    align-items: center;
    justify-content: space-around; }
  footer address {
    color: #0f5f8c;
    flex-direction: column;
    padding: 1em;
    text-align: center; }
    footer address .atendimento .atendimento-text {
      color: #0f5f8c; }

.right-side figure {
  background: #00a6dd;
  -webkit-box-shadow: 0px 0px 12px 0px #00a6dd;
  -moz-box-shadow: 0px 0px 12px 0px #00a6dd;
  box-shadow: 0px 0px 12px 0px #00a6dd; }

.left-side figure {
  background: #1276AF;
  border-color: #1276AF; }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */ }
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* Styles */ }
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */ }
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ }
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */ }

/*# sourceMappingURL=style.css.map */
