body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }

header {
  height: 55px;
  border-bottom: 1px solid #000;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff; }
  header .header-left, header .header-right {
    border: 1px solid #cecece;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%; }
  header .header-logo {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    header .header-logo img {
      background-image: url("../img/mobile/topo/Logo Neon.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-attachment: cover; }

main {
  height: auto; }
  main .container-img {
    height: 250px;
    width: 100%;
    background-image: url("../img/foto.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: cover;
    background-size: cover;
    position: relative;
    margin-top: -30px;
    z-index: -1;
    border-radius: 50% / 10%;
    border-bottom: 2px solid #000; }
  main .container-carrosel {
    height: auto;
    display: flex;
    justify-content: space-around; }
    main .container-carrosel .left-side, main .container-carrosel .right-side {
      width: 20%;
      background-color: red;
      display: flex;
      align-items: center;
      justify-content: center; }
      main .container-carrosel .left-side figure, main .container-carrosel .right-side figure {
        margin: 0; }
    main .container-carrosel .carrosel-box {
      border: 1px solid black;
      border-radius: 12px;
      padding: .5em;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; }
      main .container-carrosel .carrosel-box .carrosel-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; }
      main .container-carrosel .carrosel-box .carrosel-text {
        text-align: center; }
      main .container-carrosel .carrosel-box .saiba-mais {
        border: 1px solid black;
        border-radius: 10px;
        background-image: linear-gradient(to right, white, purple);
        font-weight: bold;
        color: #fff;
        height: 30px;
        width: 100px; }

footer {
  border-top: 1px solid #000;
  height: 150px;
  width: 100%;
  background-color: #1276af; }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* Styles */ }
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */ }
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */ }
/* iPads (portrait and landscape) ----------- */
/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* Styles */ }
/* iPads (portrait) ----------- */
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */ }
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */ }
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */ }

/*# sourceMappingURL=style.css.map */
