@font-face {
	font-family: 'Averta-RegularItalic';
	src: url('./assets/fonts/Averta-RegularItalic.eot');
	src: url('./assets/fonts/Averta-RegularItalic.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/Averta-RegularItalic.woff') format('woff'),
	url('./assets/fonts/Averta-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: 'Averta';
	src: url('./assets/fonts/Averta-Regular.eot');
	src: url('./assets/fonts/Averta-Regular.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/Averta-Regular.woff') format('woff'),
	url('./assets/fonts/Averta-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}	

@font-face {
	font-family: 'Averta';
	src: url('./assets/fonts/Averta-Regular.eot');
	src: url('./assets/fonts/Averta-Regular.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/Averta-Regular.woff') format('woff'),
	url('./assets/fonts/Averta-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Averta-ExtraBoldItalic';
	src: url('./assets/fonts/Averta-ExtraBoldItalic.eot');
	src: url('./assets/fonts/Averta-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/Averta-ExtraBoldItalic.woff') format('woff'),
	url('./assets/fonts/Averta-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Averta-Extrathin';
	src: url('./assets/fonts/Averta-Extrathin.eot');
	src: url('./assets/fonts/Averta-Extrathin.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/Averta-Extrathin.woff') format('woff'),
	url('./assets/fonts/Averta-Extrathin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Averta-BoldItalic';
	src: url('./assets/fonts/Averta-BoldItalic.eot');
	src: url('./assets/fonts/Averta-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/Averta-BoldItalic.woff') format('woff'),
	url('./assets/fonts/Averta-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Averta';
	src: url('./assets/fonts/Averta-Black.eot');
	src: url('./assets/fonts/Averta-Black.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/Averta-Black.woff') format('woff'),
	url('./assets/fonts/Averta-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Averta';
	src: url('./assets/fonts/Averta-Thin.eot');
	src: url('./assets/fonts/Averta-Thin.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/Averta-Thin.woff') format('woff'),
	url('./assets/fonts/Averta-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Averta-SemiboldItalic';
	src: url('A./assets/fonts/verta-SemiboldItalic.eot');
	src: url('./assets/fonts/Averta-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/Averta-SemiboldItalic.woff') format('woff'),
	url('./assets/fonts/Averta-SemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Averta';
	src: url('./assets/fonts/Averta-Light.eot');
	src: url('./assets/fonts/Averta-Light.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/Averta-Light.woff') format('woff'),
	url('./assets/fonts/Averta-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Averta-ThinItalic';
	src: url('./assets/fonts/Averta-ThinItalic.eot');
	src: url('./assets/fonts/Averta-ThinItalic.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/Averta-ThinItalic.woff') format('woff'),
	url('./assets/fonts/Averta-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Averta-ExtrathinItalic';
	src: url('./assets/fonts/Averta-ExtrathinItalic.eot');
	src: url('./assets/fonts/Averta-ExtrathinItalic.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/Averta-ExtrathinItalic.woff') format('woff'),
	url('./assets/fonts/Averta-ExtrathinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Averta-LightItalic';
	src: url('./assets/fonts/Averta-LightItalic.eot');
	src: url('./assets/fonts/Averta-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/Averta-LightItalic.woff') format('woff'),
	url('./assets/fonts/Averta-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Averta-BlackItalic';
	src: url('./assets/fonts/Averta-BlackItalic.eot');
	src: url('./assets/fonts/Averta-BlackItalic.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/Averta-BlackItalic.woff') format('woff'),
	url('./assets/fonts/Averta-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Averta';
	src: url('./assets/fonts/Averta-ExtraBold.eot');
	src: url('./assets/fonts/Averta-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/Averta-ExtraBold.woff') format('woff'),
	url('./assets/fonts/Averta-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Averta';
	src: url('./assets/fonts/Averta-Bold.eot');
	src: url('./assets/fonts/Averta-Bold.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/Averta-Bold.woff') format('woff'),
	url('./assets/fonts/Averta-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Averta';
	src: url('./assets/fonts/Averta-Semibold.eot');
	src: url('./assets/fonts/Averta-Semibold.eot?#iefix') format('embedded-opentype'),
	url('./assets/fonts/Averta-Semibold.woff') format('woff'),
	url('./assets/fonts/Averta-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}




