header {
	height: 55px;
	width: 100%;
	display: flex;
	align-items: center;
	background-color: #fff;

	.header-left, .header-right {
		@include flex;
		width: 15%;
		height: 100%;
	}

	.header-right {
		figure {
			margin: 0;
		}
		.download {
			@include flex;
			height: 35px;
			width: 35px;
			border-radius : 100%;
			background: rgba(241,231,103,1);
			background: -moz-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
			background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241,231,103,1)), color-stop(100%, rgba(254,182,69,1)));
			background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
			background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
			background: -ms-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
			background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#feb645', GradientType=1 );
		}
	}

	.header-left {
		figure {
			margin: 0;
			@include flex;
			@include border-default;
			border-size: 3px;
			height: 35px;
			width: 35px;
			border-radius: 100%;

		}
	}

	.header-logo{
		width: 70%;
		height: 100%;
		@include flex;

		img {
			background-image: url('../img/mobile/topo/Logo Neon.png');
			background-position: center center;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-attachment: cover;
		}
	}
}
