body , html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Averta Regular', sans-serif;
}  

.exibir-texto {
  display: none;
}

main {
  min-height: calc(100% - 210px);
  height: auto;

  .container {
    position: relative;
  }

  .container-img {
    height: 250px;
    width: 100%;
    background-image: url('../img/foto.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: cover;
    background-size: cover;
    position: relative;  
    z-index: -1;
    border-radius: 50% / 10%;
    border-bottom: 2px solid #000;
    filter: grayscale(.5);
    position: relative;
    @include flex; 
  }

  .container-text {

    position: absolute;
    top: 70px;
    z-index: 1;
    text-align: center;
    .first-title {
      color: #fff;
      font-family: 'Averta Regular', sans-serif;
      font-weight: normal;
      font-style: normal;
      font-size: 16px;
      cursor: none;
    }
  }

  .container-carrosel {
    margin: 1em .5em;
    height: auto;
    
    display: flex;
    justify-content: space-around;

    .left-side, .right-side {
      width: 15%;
      @include flex;
      figure {
        margin: 0;
        padding: .5em;
        border-radius: 100%;
        height: auto;
        width: 25px;
        @include flex;
      }
    }

    .carrosel-box {
      border-radius: 12px;
      border: 1px solid #e6e4e4;
      padding: .5em;
      width: 60%;
      @include flex;
      flex-direction: column;
      -webkit-box-shadow: 10px 10px 50px 0px rgba(225,226,227,1);
      -moz-box-shadow: 10px 10px 50px 0px rgba(225,226,227,1);
      box-shadow: 10px 10px 50px 0px rgba(225,226,227,1);

      .carrosel-img {
        figure {
          margin: 0;
          img {
            height: 90px;
          }
        }
        @include flex;
        width: 100%;
      }

      .carrosel-text {
        text-align: center;
        color: #626264;
        p {
          margin: 0;
          font-size: 12px;
        }
      }

      .saiba-mais {
        @include flex;
        border-radius: 30px;
        background-image: linear-gradient(to right, #1276AF, #00e3c0);
        font-weight: bold;
        color: #fff;
        height: 30px;
        width: 100px;
        border: none;
        position: absolute;
        bottom: 22px;
        z-index: 1;
        cursor: pointer;
        text-decoration: none;
      }
    }
  }
}

.right-side {
  figure {
    background: #00a6dd;
    img {
      cursor: pointer;

    }
    &:hover {
      -webkit-box-shadow: 0px 0px 12px 0px rgba(0,166,221,1 );
      -moz-box-shadow: 0px 0px 12px 0px rgba(0,166,221,1);
      box-shadow: 0px 0px 12px 0px rgba(0,166,221,1);
      transition: 150ms ease-in;
    }
  }


}

.left-side {
  cursor: pointer;
  figure {
    border: 1.5px solid #e1e2e4;;
    border-color: #e1e2e4;
  }
}

