#slides{
  position: relative;
  height: 235px;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.slide{
  @include flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: -30px;
  position: absolute;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing{
  opacity: 1;
  z-index: 2;
}

.slide:nth-of-type(1) {
  .img-slider {
    height: 90px;
    width: 90px;
    background-color: #fff;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: cover;
    background-size: cover;
    background-image: url('./../img/mobile/biometria.png');
  }  
}

.slide:nth-of-type(2){    
  .img-slider {
    height: 90px;
    width: 90px;
    background-color: #fff;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: cover;
    background-size: cover;
    background-image: url('./../img/mobile/visa-neon.png');
    
  }  
}

.slide:nth-of-type(3){
  .img-slider {
    height: 90px;
    width: 90px;
    background-color: #fff;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: cover;
    background-size: cover;
    background-image: url('./../img/mobile/bcocentral-neon.png');

  }  
}

.slide:nth-of-type(4){
  .img-slider {
    height: 90px;
    width: 90px;
    background-color: #fff;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: cover;
    background-size: cover;
    background-image: url('./../img/mobile/fgc-neon.png');
  }  
}


